$colour-1: #6E7B93;
$colour-2: #2B2624;
$colour-3: #A26A33;
$colour-4: #653D2A;
$colour-5: #B0695A;
$colour-6: #2F140C;
$colour-7: #ECE5DE;
$colour-8: #C9B5B8;

html{
  height: 100%;
}
.App {
  text-align: center;

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  .App-link {
    color: #61dafb;
  }
}
